<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
     <head th:replace="~{layout/principal :: head}">
        <title>Distribuidora Noche Buena</title>
        <meta charset="UTF-8"/>
    </head>
     <body>
      <header th:replace="~{layout/principal :: header}"/>
     
         <h2>Listado de los pedidos</h2>
         <br>
         <hr>
           <a th:href="@{/pedidos/nuevo} "
              class="btn btn-primary">
               <i class="fas fa-user-plus"></i> Nuevo pedido</a>


     <div th:if="${pedido !=null and !pedido.empty}">
         <table class="table table-strype">
             <thead class="thead-dark">
                  <tr>
                        <th>Cliente</th>
                        <th>Monto</th>
                        <th>Estado_venta</th>
                        <th>Fecha</th>
                    </tr>
                     </thead>
                 <tr>
                    <tbody>
                        <tr th:each="pedidos ${pedido}">
                    <td>[[${pedidos.cliente}]]</td>
                     <td>[[${pedidos.monto}]]</td>
                     <td>[[${pedidos.estado_venta}]]</td>
                     <td>[[${pedidos.fecha}]]</td>
                     <td> <a th:href="@{/pedidos/eliminar/} + ${pedidos.idPedido}"
                             class="btn btn-danger">
                            <i class="fas fa-trash"></i>  Eliminar</a> 
                         
                        <a th:href="@{/pedidos/editar/} + ${pedidos.idPedido}"
                           class="btn btn-success">
                         <i class="fas fa-pencil"></i> Modificar</a> 
                     </td>
                </tr>
                
               
             </tbody>
         </table>
     </div>
          <div th:if="${pedido ==null or pedido.empty}">

              <h3>No hay pedidos realizados recientemente</h3>
          </div>
            <footer th:replace="~{layout/principal :: footer}"/>
           
            <div>
                <a th:href="@{/venta/listado_V} "
              class="btn btn-primary">
               <i class=""></i> Ver ventas realizadas</a>

            </div>

     </body>
 </html>