<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Distribuidora Noche Buena</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    
    
     <body>
        
         
         
         <header th:fragment="header1" class="header1">
             
             
                  <nav class="navbar navbar-expand-sm navbar-dark bg-danger p-0 ">
                   
                     <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                         
                            
                            
                            
                           <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_VENDEDOR') or hasRole('ROLE_USER')">
                           
                               <li class="nav-item px-2">
                                <a th:href="@{/}" class="navbar-brand"> <img src="/img/Logo.png" alt="" widht="20" height="35"/></a>
                            </li>
                               
                              
                                <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{evento/listado}">[[#{principal.eventos}]]</a>
                            
                                </li>
                               
                               <li>
                                <a class="nav-menu-link nav-link" th:href="@{/venta/listado}">[[#{principal.ventas}]]</a>
                            
                               </li>
                              <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/consulta/listado}">[[#{principal.consultas}]]</a>
                            </li>
                               
                            
                         </ul>
                            <ul class="navbar-nav" sec:authorize="hasRole('ROLE_USER')">
                                <li>
                                 <li class="nav-item px-2" sec:authorize="hasRole('ROLE_USER')">
                                <a class="nav-menu-link nav-link" th:href="@{/carrito/listado}">[[#{principal.carrito}]]</a>
                          
                                </li>
                                </li>
                            </ul>
                            
                            
                                <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_VENDEDOR')">
                           
                                 <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link" th:href="@{/pedido/listado}">[[#{principal.pedidos}]]</a>
                            </li>
                            <li class="nav-item px-2">
                            <li class="nav-item px-2" sec:authorize="hasRole('ROLE_ADMIN')or hasRole('ROLE_VENDEDOR')">
                                <a class="nav-menu-link nav-link" th:href="@{/seguridad/listado}">[[#{principal.seguridad}]]</a>
                            </li>
                               
                                
                            </ul>
                            
                            
                             <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i></a>
                            </li>                            
                        </ul>
                        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item text-white my-auto"> 
                                <i class="fas fa-user"></i> <span sec:authentication="name">Bob</span>
                            </li>
                            <li class="nav-item my-auto">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn btn-dark"><i class="fas fa-sign-out-alt"></i></button>
                                </form>
                            </li>                            
                        </ul>
                     </div>
                 
                 </div>
             </nav>
                     
             
         </header >
         <header  th:fragment="header4" class="header4">
         <section>
          
         <div >
         <section  text-align: center> 
          
             <img src="/img/principal.png" alt="" widht="1500" height="510"/>
             </section>
             </div>
        
         </section>
          </header >
         
         
         

         <footer th:fragment="footer" 
                 class="bg-info text-black mt-5 p-2 bg-white">
             <div class="container">
                 <div class="col">
                     <p class="lead text-center">
                         &COPY; Distribuidora Noche Buena Derechos Reservados 2023 
                     </p>
                 </div>
             </div>
         </footer>
     </body>
 </html>