<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <head th:replace="~{layout/principal :: head}">
       
        <title>Distribuidora Noche Buena</title>
        <meta charset="UTF-8"/>
     </head>
    
    
     <body>
          <header th:replace="~{layout/principal :: header}"/>

      <h2>Listado de las ventas</h2>
         <br>
         <hr>
        <a th:href="@{/pedidos/listado} ">Regresar</a>

     
     <div th:if="${ventas !=null and !ventas.empty}">
         <table class="table table-strype">
             <thead class="thead-dark">
                  <tr>
                        <th>Cliente</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                     </thead>
                 <tr>
                    <tbody>
                        <tr th:each="venta ${ventas}">
                    <td>[[${venta.cliente}]]</td>
                     <td>[[${venta.monto}]]</td>
                     <td>[[${venta.fecha}]]</td>
                     <td> <a th:href="@{/venta/eliminar/} + ${venta.idVenta}"
                             class="btn btn-danger">
                            <i class="fas fa-trash"></i>  Eliminar</a> 
                     </td>
                </tr>
                
             </tbody>
         </table>
     </div>
          <div th:if="${ventas ==null or ventas.empty}">

              <h3>No hay ventas realizadas </h3>
          </div>
            <footer th:replace="~{layout/principal :: footer}"/>
           

     </body>
 </html>