<!DOCTYPE html>
<!--Avance con la historia de usuario 3 y 5.-->
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Carrito y Seguridad</title>
        <meta charset="UTF-8"/>        
    </head>

    <body>
        <div>Informacion de carrito y seguridad |pagina oficial|.</div>               
        <br/>
        <a th:href="@{/}">Regresar a la página anterior.</a>
        <br/>
        <hr>
        <form th:action="@{/seguridadycarrito/guardar}" 
              method="post"
              th:object="${seguridadycarrito}">

            <input type="hidden"
                   name="id"
                   value="" 
                   th:field="*{id}"/>

            <label>Nombre</label>
            <input type="text"
                   name="nombre" 
                   value=""
                   th:field="*{nombre}"
                   size="30"/>
            <br/>
            <hr>
            
            <label>Apellido</label>
            <input type="text"
                   name="apellidos" 
                   value=""
                   th:field="*{apellidos}"
                   size="35"/>
            <br/>
            <hr>
            <label>Software</label>
            <input type="text"
                   name="software" 
                   value=""
                   th:field="*{software}"
                   size="30"/>
            <br/>
            <hr>
            
            <label>Producto</label>
            <input type="text"
                   name="producto" 
                   value=""
                   th:field="*{producto}"
                   size="30"/>
            <br/>
            <hr>
            
            <label>Precio</label>
            <input type="text"
                   name="precio" 
                   value=""
                   th:field="*{precio}"
                   size="30"/>
            <br/>
            <hr>    
            
            <input type="submit"
                   value="guardar"/>
        </form>
    </body>

</html>
